//********************************************************
// 18F.gsa.gov CUSTOM SASS
//********************************************************

// Site-wide media queries
//********************************************************
.mantra, .blog-entry, .team, .footer, .contact-box {
	@include media($small) {
    	padding-left: 5%;
    	padding-right: 5%;
	}
}
.bare {
	@include media($smallest) {
    	padding-left: 5%;
    	padding-right: 5%;
	}
}

// Extends
//********************************************************
%heading-text-style {
	color: #fff;
  	text-shadow: 1px 1px 6px #000;
  	background-color: #03253e; /* For browsers that don't support opacity */
  	background-color: rgba(0,0,0,.4);
}
%section-padding {
	padding-top: 40px;
	padding-bottom: 40px;
	@include media($tiniest) {
			padding-top: 25px;
			padding-bottom: 25px;
	}
}

// Utility and site-wide classes
//********************************************************
.container {
	@include outer-container;
}
.lead {
	font-size: 1.4em;
	line-height: 1.6em;
	padding-top: 1em;
	@include media($smallest) {
		font-size: 1.2em;
	}
}

// Splash
//********************************************************
.usa {
	@include span-columns(12);
	background-color: rgba(0,0,0,0.75);
	text-align: center;
    height: 20px;
    font-size: 0.75em;
    color: $light-gray;
    padding-top: 1.5px;
    p {
    	font-family: $base-font-family;
	}
	img {
		height: 8px;
	}
	@include media($tinier) {
    	font-size: 0.6em;
   		height: 16px;
    	padding-top: 0.5px;
		img {
			height: 6px;
		}
	}
}
.rslides { //thanks to http://responsiveslides.com/
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
  	li {
  		-webkit-backface-visibility: hidden;
		position: absolute;
		display: none;
		width: 100%;
		left: 0;
		top: 0;
		&:first-child {
			position: relative;
  			display: block;
  			float: left;
		}
  	}
  	img {
  		display: block;
  		height: auto;
  		float: left;
  		width: 100%;
  		border: 0;
  	}

  }
.logo {
	height: 150px;
	width: 150px;
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 20;
  	@include media($smaller) {
  		height: 100px;
		width: 100px;
		top: 40px;
		left: 20px;
  	}
  	@include media($smallest) {
  		height: 75px;
		width: 75px;
  	}
  	@include media($tiny) {
		top: 73px;
  	}
  	@include media($tinier) {
		top: 66px;
		left: 0px;
  	}
}
.splash {
	@include span-columns(12);
	h1 {
		position: absolute;
		top: 370px;
	  	width: 860px;
	  	text-align: left;
  		font-size: 3.6em;
  		padding: 30px 50px;
		z-index: 10;
	  	@include media($small) {
			top: 295px;
	  	}
  		@include media($smaller) {
			top: 208px;
	  		width: 100%;
  			font-size: 3.2em;
  			padding: 30px 20px;
  		}
  		@include media($smallest) {
			top: 145px;
  			font-size: 3em;
  			padding: 20px 20px;
  		}
  		@include media($tiny) {
			top: 40px;
	  		width: 450px;
  			font-size: 2em;
  			padding: 20px 20px 20px 110px;
  		}
  		@include media ($tinier) {
			top: 50px;
  			width: 100%;
  			padding: 13px 0px 13px 90px;
  			font-size: 1.6em;
  		}
	  	@extend %heading-text-style;
	}
	.caption {
		position: absolute;
	  	top: 350px;
	  	z-index: 20;
		color:#fff;
	  	font-size: 1em;
	  	text-shadow: 1px 1px 2px #000;
	  	@include media($small) {
	  		top: 275px;
	  	}
	  	@include media($smaller) {
	  		top: 200px;
			margin-top: 160px;
	  		font-size: 0.9em;
	  	}
	  	@include media($smallest) {
	  		top: 145px;
			margin-top: 124px;
	  		font-size: 0.8em;
	  	}
	  	@include media($tiny) {
	  		top: 63px;
			margin-top: 102px;
	  		font-size: 0.6em;
	  	}
		@include media($tinier) {
			margin-top: -63px;
		}
		background-color: rgba(0,0,0,.4);
		margin-top: 186px;
  		i {
  			vertical-align: middle;
  			padding: 17px 20px 15px 50px;
	  		@include media($smaller) {
	  			padding-left: 20px;
	  		}
	  		@include media($tinier) {
	  			padding-left: 5px;
	  		}
  		}
  		.icon-camera {
	  		font-size: 30px;
	  		margin-right: 10px;
	  		@include media($smaller) {
	  			font-size: 20px;
	  		}
	  		@include media($tiny) {
	  			font-size: 12px;
	  			margin-right: 0px;
	  			padding-right: 5px;
	  		}
	  		@include media($tinier) {
	  			font-size: 9px;
	  		}
  		}
  		a {
	  		padding: 17px 20px 20px 0;
	  		color: #fff;
	  		text-decoration: none;
				&:hover, &:focus {
				color: $red;
		  		text-decoration: none;
			}
		}
	}
}

// Mantra
//********************************************************
.mantra {
	@include span-columns(12);
	@extend %section-padding; //standard top and bottom padding for all sections
	background-image: url(/assets/images/lightbulb.png);
	background-size: 10%;
	background-position: 90% 50%;
	@include media($smaller) {
		background-position: 87% 50%;
	}
	background-repeat: no-repeat;
	@include media($tiny) {
		background: none;
	}
	h1 {
		margin: 0;
		> strong {
			color: $red;
		}
		@include media($tiniest) {
			font-size: 01.8em;
		}
	}
	p {
		font-size: 0.9em;
		line-height: 1.8;
  		padding-top: 20px;
  		margin: 0;
  		width: 70%;
  		@include media($tiny) {
  			width: 100%;
  		}
	}
}

// Section Titles
//********************************************************
.header {
  	height: 100px;
  	background-color: $red;
  	position: relative;
	font-size: 1.2em;
  	@extend %heading-text-style;
  	@include media($smallest) {
  		height: 80px;
  	}
  	@include media($tiniest) {
  		height: 60px;
  		h1 {
  			font-size: 1.6em;
  		}
  	}
}
.container-fluid {
  	position: absolute;
  	top: 0px;
  	height: 100px;
  	padding: 30px 50px;
  	@include media($smallest) {
  		height: 80px;
  	}
  	@include media($tiniest) {
  		height: 60px;
  		padding: 20px 20px;
  	}
  	background-color: #03253e; /* For browsers that don't support opacity */
  	background-color: rgba(0,0,0,.4);
  	z-index: 20;
}


// News and blog pages
//********************************************************
.blog-entry {
	@extend %section-padding; //standard padding for all sections
	padding-top: 25px; //compensates for padding in top row of news section
	h1 {
		font-size: 22px;
	  	font-weight: 700;
		> a {
			color: $red;
			text-decoration: none;
			&:hover, &:focus {
		  		text-decoration: underline;
			}
		}
	}
	p {
		font-size: 0.9em;
		padding: 0; margin: 0;
		line-height: 1.8;
		+ p {
			margin-bottom: 0.4em;
		}
	}
}
.blog-title {
	@include span-columns(12);
	padding: 15px 0 5px 0;
	@include media($tiniest) {
		padding-top: 13px;
		padding-bottom: 3px;
		line-height: 1em;
	}
}
.blog-meta {
	@include span-columns(3);
	a {
		font-weight: 700;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
			color: $base-link-color;
		}
	}
	@include media($tiniest) {
		@include span-columns(12);
		padding-bottom: 6px;
		font-weight: 700;
		line-height: 0.9em;
	}
	p {
		margin-bottom: 0.6em;
		line-height: 1.2em;
	}
}
.tag-index {
	.blog-title h1 {
		padding-bottom: 8px;
	}
	.blog-meta p {
		margin-bottom: 0.5em;
		line-height: 1.2em;
	}
}
.blog-snippet {
	@include span-columns(9);
	@include omega();
	@include media($tiniest) {
		@include span-columns(12);
	}
	p.authors {
		margin-bottom: 0.4em;
	}
}
.blog-all, .blog-continue {
	@include span-columns(12);
	text-align: center;
	margin-top: 1.7em;
	a {
		font-family: $header-font-family;
		font-weight: 700;
	}
}
.blog-continue {
	text-align: right;
	margin-top: 0px;
}

.blog-posting {
	h1 {
	    font-weight: normal;
	    margin-bottom: 20px;
	    + p {
			padding-top: 10px;
		}
		a {
		    color: #333;
		    text-decoration: none;
		  	&:hover, &:focus {
		    	color: #0068d0;
		    }
		}
	}
	.blog-tags a {
		font-weight: 700;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
			color: $base-link-color;
		}
	}
	ul {
	  	list-style: inherit;
    	padding-bottom: 1.1em;
    	margin-left: 1em;
	}
	ol {
	  	list-style: inherit;
    	padding-bottom: 1.1em;
    	margin-left: 1em;
	}
}
.blog-follow-us {
	@include span-columns(12);
	padding-top: 15px;
	h1 {
		font-size: 1.3em;
	}
	ul {
		font-size: 1.1em;
		padding-top: 4px;
	}
}

.blog-entry, .blog-posting {
  .authors {
    font-style: italic;
    img {
      margin-bottom: -5px;
      margin-left: 7px;
      margin-right: 5px;
      height: 25px;
      display: none;
    }
  }
}

// Team
//********************************************************
.team {
	@extend %section-padding; //standard padding for all sections
	padding-top: 20px; //compensates for padding in top row of team section
	@include media($tiniest) {
		padding-top: 15px;
	}
}
.bio {
	@include span-columns(3 of 12);
	margin: 1.0em 0 1.0em 1.5%;
	position: relative;
	@include media($smaller) {
		@include span-columns(4 of 12);
		@include omega();
		padding-left: 1.5%;
	}
	@include media($smallest) {
		@include span-columns(3 of 12);
		@include omega();
	}
	@include media($tiny) {
		@include span-columns(4 of 12);
		@include omega();
		padding-left: 1.5%;
	}
	@include media($tiniest) {
		margin: 0.5em 0 0.5em 1.5%;
	}
	strong {
		float: left;
		clear: both;
	}
	h1 {
		clear: both;
		margin: 8px 0 2px 0;
		color: $red;
		font-size: 1.2em;
		@include media($smallest) {
			font-size: 1em;
		}
		@include media($tiny) {
			font-size: 0.75em;
		}
		@include media($tiniest) {
			font-size: 0.55em;
		}
	}
	a i, .no-decoration {
		text-decoration: none !important; color: #000 !important;
	}
	a {
		text-decoration: none;
		img {
			margin: 1.0em auto;
			float: left;
			width: 200px;
			height: 200px;

      -webkit-filter: grayscale(100%);
    	-moz-filter: grayscale(100%);
    	filter: grayscale(100%);
      filter: url(/assets/bw.svg#greyscale);

			@include transition(0.3s linear);
        	@include media($smaller) {
        		height: 225px;
    			width: 225px;
        	}
        	@include media($smallest) {
        		height: 120px;
    			width: 120px;
        	}
        	@include media($tiny) {
        		height: 100px;
    			width: 100px;
    			margin: 0.3em auto;
	        	-webkit-filter: none;
	        	-moz-filter: none;
	        	filter: none;
        	}
        	@include media($tiniest) {
        		height: 85px;
    			width: 85px;
        	}
    	}
		&:hover img, &:focus img  {
	        -webkit-filter: none;
	        -moz-filter: none;
	        filter: none;
	    }
	}
}
.bio-clip {
    background: url(#clipping) no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

// Contact
//********************************************************
.contact-form {
	@include span-columns(4);
	@extend %section-padding;
	@include media($small) {
		@include span-columns(5);
	}
	@include media($smallest) {
		@include span-columns(10);
		@include shift(1);
	}
	@include media($tinier) {
		@include span-columns(12);
		@include shift(0);
	}
}
.contact-words {
	@include span-columns(7);
	@include shift(1);
	@extend %section-padding;
	p {
		font-size: 1.4em;
		&:last-of-type {
			font-size: $small-text;
		}
	}
	@include media($small) {
		@include span-columns(6);
		@include shift(0);
	}
	@include media($smaller) {
		p {
			font-size: 1.3em;
			&:last-of-type {
				font-size: ($small-text) * 0.9;
				line-height: 1.2em;
			}
		}
	}
	@include media($smallest) {
		@include span-columns(8);
		@include shift(2);
		padding-top: 0;
	}
	@include media($tiny) {
		@include span-columns(10);
		@include shift(1);
	}
	@include media($tinier) {
		@include span-columns(12);
		@include shift(0);
	}
	@include media($tiniest) {
		p {
			font-size: 1.2em;
			line-height: 1.2em;
			margin-bottom: 7px;
			&:last-of-type {
				font-size: ($small-text) * 0.8;
				line-height: 1.1em;
			}
		}
	}
}
.button {
	@include button($green);
	width: 100%;
}

// Bare Template
//********************************************************
.bare {
	@extend %section-padding;
	h2 {
		font-size: 1.85em;
		padding-top: 40px;
		padding-bottom: 20px;
		@include media($smallest) {
			font-size: 1.65em;
			padding-top: 10px;
		}
	}
	h3 {
		font-family: $base-font-family;
		font-weight: normal;
		font-size: 1.4em;
		padding-bottom: 4px;
		@include media($smallest) {
			font-size: 1.2em;
		}
	}
	p {
		margin-bottom: 1.1em;
	}
}
.bare-logo {
	@include span-columns(2);
	a {
		text-decoration: none;
		i {
			font-size: 6em;
			color: $blue;
		}
		@include media($smallest) {
			i {
				font-size: 5em;
			}
		}
		@include media($tiny) {
			@include span-columns(12);
		}
	}
	margin-top: -6px;
}
.bare-content {
	@include span-columns(9);
	@include omega();
	@include media($smallest) {
		@include span-columns(10);
	}
	@include media($tiny) {
		@include span-columns(12);
	}
}

// Dashboard
//********************************************************
.dashboard-projects-content,
.dashboard-status-definitions {
	> div:nth-of-type(1) {
		@include span-columns(12);
		border-top: 1px solid $medium-gray;
		margin-top: 50px;
		margin-bottom: 10px;
		@include transition-property (background-color);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
		&:hover, &:focus {
			background-color: lighten($blue, 35%);
		}
	}
	> div:nth-of-type(2) {
		@include span-columns(6);
		@include media($tiny) {
			@include span-columns(12);
		}
	}
	> div:nth-of-type(3) {
		@include span-columns(6);
		@include media($tiny) {
			@include span-columns(12);
		}
	}
	a {
		text-decoration: none;
		h1 {
			color: $dark-gray;
		}
	}
	h1 {
		font-size: 1.5em;
		padding-top: 5px;
		&:hover, &:focus {
			cursor: pointer;
		}
	}
	p {
		margin-bottom: 8px;
		a:hover, a:focus {
			text-decoration: underline;
		}
	}
}

.dashboard-status-definitions {
	> div:nth-of-type(2) {
		@include span-columns(8);
		@include media($tiny) {
			@include span-columns(12);
		}
	}
}

.status {
	padding: 5px 10px 5px 10px;
	margin-top: -5px;
	color: white;
	font-size: .7em;
	font-family: $base-font-family;
	display: inline-block;
	background-color: $medium-gray;
	font-weight: 600;
	float: right;
	@include media($smallest) {
		margin-top: 30px;
	}
}

.discovery {
	background-color: $medium-gray;
}

.alpha {
	background-color: $medium-blue;	
}

.beta {
	background-color: $green;
}

.live {
	background-color: $red;
}

.dashboard-overview {
	@include span-columns(12);
	margin-bottom: 4em;
	li {
		height: 4.2em;
	}
}

.dashboard-overview,
.dashboard-overview-numbers {
	text-align: center;
	a {
		@include span-columns(3 of 12);
		text-decoration: none;
		color: $dark-gray;
		&:hover,
		&:focus {
			color: $red;
		}
	}
	li {
		font-family: $header-font-family;
		font-size: 2.5em;
		padding: 10px;
		.status-description {
			color: white;
			line-height: 1.1em;
			font-size: 0.47em;
		}
	}
	.status {
		float: none;
	}
}

.dashboard-overview-numbers {
	font-family: $base-font-family;
	font-weight: 600;
	font-size: 2.2em;
	margin-top: -40px;
	margin-bottom: 40px;
	-webkit-text-stroke: 1px white;
  	text-shadow:
   -1px -1px 0 white,  
    1px -1px 0 white,
   -1px  1px 0 white,
    1px  1px 0 white;
}

@include media($smaller) {
	.dashboard-overview,
	.dashboard-overview-numbers {
		li {
			font-size: 2em;
			padding: 8px;
			.status-description {
				color: white;
				line-height: 1.1em;
				font-size: 0.52em;
			}
		}
	}
	.dashboard-overview-numbers {
		font-size: 2em;
		margin-top: -28px;
	}
}

@media (max-width: 850px) {
	.dashboard-overview {
		li {
			.status-description {
				font-size: 0.47em;
			}
		}
	}
}

@include media($smallest) {
	.dashboard-overview {
		li {
			@include span-columns(9 of 12);
			height: 3em;
			margin-bottom: 10px;
			.status-description {
				font-size: 0.52em;
			}
		}
		p {
			float: right;
			text-align: left;
			width: 55%;
			padding-right: 10px;
		}
		.status {
			float: left;
			margin-top: 0;
		}
	}
	.dashboard-overview-numbers {
		position: absolute;
		font-size: 2em;
		right: -30%;
	}
}

@include media($tiny) {
	.dashboard-overview {
		li {
			@include span-columns(10 of 12);
			font-size: 1.5em;
			padding: 5px;
		}
	}
	.dashboard-overview-numbers {
		right: -33%;
	}
}

.dashboard-status-definitions {
	> div:nth-of-type(1) {
		&:hover, &:focus {
			background-color: white;
		}
	}
	h1 {
		&:hover, &:focus {
			cursor: default;
		}
	}
	.status {
		float: left;
	}
}

.dashboard-stages,
.dashboard-project {
	nav {
		font-size: 0.8em;
		margin-bottom:42px;
		a {
			text-decoration: none;
			color: $dark-gray;
			&:hover, &:focus {
				text-decoration: underline;
				color: $red;
			}
		}
	}
}

.dashboard-project {
	h1 {
		padding-top: 5px;
		border-top: 1px solid $medium-gray;
	}
	p {
		@include span-columns(9);
		font-size: 1.2em;
		line-height: 1.4em;
		margin-top: 15px;
		margin-bottom: 0;
		a:hover,
		a:focus {
			text-decoration: underline;
		}
	}
	p + p {
		font-size: 0.9em;
	}
	p:last-of-type {
		margin-top: 6px;
		margin-bottom: 50px;
	}
}

.dashboard-contact {
	@include span-columns(9 of 9);
	margin-top: 50px;
	font-weight: 700;
}

.dashboard-info-area {
	@include span-columns(9 of 9);
	> div:nth-of-type(1) {
		@include span-columns(6 of 9);
		@include media($tiny) {
			@include span-columns(9 of 9);
		}
		> div {
			margin-bottom: 23px;
		}
	}
	h1 {
		font-size: 1.3em;
		i {
			font-size: 1em;
		}
	}
	p {
		margin-bottom: 0;
		padding-top: 7px;
		padding-left: 20px;
	}
	ul {
		list-style-type: square;
		padding-left: 40px;
		padding-top: 7px;
		padding-bottom: 7px;
	}
	ul + p {
		padding-top: 0;
		font-style: italic;
		color: $medium-gray;
	}
}

.dashboard-code {
	> h1:first-of-type {
		padding-bottom: 13px;
	}
}

.repo {
	padding-left: 20px;
	h1 {
		font-family: $base-font-family;
		font-size: 1.1em;
	}
	ul {
		padding-left: 0;
	  margin-bottom: 7px;
	}
	li {
		display: inline-block;
		margin-left: 20px;
	}
}

// 404
//********************************************************
.fours {
	background-color: $blue;
	color: white;
	padding-top: 130px;
	padding-bottom: 130px;
	margin-bottom: 30px;
}
.fours-content {
	@include span-columns(6);
	@include shift(3);
	text-align: center;
	h1 {
		font-family: $base-font-family;
		font-weight: 500;
		font-size: 9em;
	}
	h2 {
		font-size: 1.4em;
		padding-top: 10px;
		line-height: 1.3em;
	}
	p {
		margin: 0;
		font-size: 0.9em;
	}
	p+p {
		margin-bottom: 100px;
	}
	@include media($tiny) {
	@include span-columns(12);
	@include shift(0);
	}
}

// Footer
//********************************************************
.footer {
	border-top: 5px solid $blue;
	background-color: $dark-blue;
	height: auto;
	color: #fff;
	padding-top: 55px;
	@include media($smallest) {
		padding-top: 40px;
	}
	padding-bottom: 20px;
	h1 {
		font-size: 1.2em;
		padding-bottom: 0.3em;
		@include media($smallest) {
			font-size: 1em;
			padding-bottom: 0.1em;
		}
		@include media($tiniest) {
			font-size: 1em;
			padding-bottom: 0.2em;
		}
	}
	.container > div {
		padding-top: 10px;
		padding-bottom: 10px;
		@include span-columns(2);
		&:nth-of-type(3) {
			@include span-columns(4);
		}
		@include media($tiny) {
			@include span-columns(10);
			@include shift(2);
			&:nth-of-type(3) {
				@include span-columns(10);
			}
		}
		@include media($tiniest) {
			@include span-columns(10);
			@include shift(1);
			&:nth-of-type(3) {
				@include span-columns(10);
			}
		}
	}
	img {
		max-width: 100%;
  		max-height: 100px;
	}
	a {
		color:#fff;
		font-size: 0.9em;
  		text-decoration: none;
  		&:hover, &:focus {
  			text-decoration: underline;
  		}
		@include media($smallest) {
			font-size: 0.8em;
		}
		@include media($tiniest) {
			text-decoration: underline;
			font-size: 0.75em;
		}
	}
	.tagline {
		float: right;
		@include media($tiny) {
			float: none;
		}
	}
}