---
layout: bare
title: Dashboard
permalink: /
---

<section class="dashboard">
  <h1>{{page.title}}</h1>
  <p class="lead">We are building digital services for the American people. Follow our progress and get involved here.</p>
  <section class="dashboard-projects">
    <div>
      {% for project in site.data.projects %}
        {% if project.status != "Hold" %}
        <article class="dashboard-projects-content">
          <div>
            <a href="{{ site.baseurl }}/project/{{ project.name }}"><h1>{{project.project}} &#x276f;&#x276f;<span class="status {{ project.stage }}">{% if project.stage %}{{ project.stage }}{% else %}unknown{% endif %}</span></h1></a>
          </div>
          <div>
            <p>{% if project.description %}{{ project.description }}{% else %}Project description coming soon.{% endif %}</p>
          </div>
          <div>
           <p>{% if project.partner.size == 1 %}Partner: {%else%}Partners: {%endif%}{% if project.partner %}<strong>{{ project.partner | join: ', ' }}</strong>{% else %}Coming soon{% endif %}</p>
          <p>Code: <a class="github-url" href="https://github.com/{{project.github}}"> see our work on Github &#8594;</a></p>
          <p>News: <a href="http://18f.gsa.gov/tags/{{project.name}}">read 18F posts about this project &#8594;</a></p>
          <p>Details: <a href="{{ site.baseurl }}/project/{{ project.name }}">all the metrics we track on this project &#8594;</a></p>
          </div>
        </article>
        {% endif %}
      {% endfor %}
    </div>
  </section>
</section>
