---
layout: bare
title: Dashboard
permalink: /
---

<section class="dashboard">
  <h1>{{page.title}}</h1>
  <p class="lead">We are building digital services for the American people. Follow our progress and get involved here.</p>
  <section class="dashboard-projects">
    <header class="dashboard-projects-headings">
      <div><h1>Project</h1></div>
      <div><h1>Partners</h1></div>
      <div><h1>Description</h1></div>
    </header>
    {% for project in site.data.projects %}
      {% if project.status != "Hold" %}
      {% capture css_id %}{% if project.css_id %}{{ project.css_id }}{% else %}{{ project.name }}{% endif %}{% endcapture %}
      <article class="dashboard-projects-content" id="{{ css_id }}">
        <div>
          <h1>{{project.project}}</h1>
          <p class="status">{{ project.status }}</p>
        </div>
        <div><p class="client">{{ project.client }}</p></div>
        <div>
          <p class="description">{{ project.description }}</p>
          <p class="dashboard-icon"><a class="github-url" href="{{project.github}}"><i class="icon-github2"></i> See our work &#8594;</a></p>
          <p><a href="http://18f.gsa.gov/tags/{{project.name}}">Read project news &#8594;</a></p>
        </div>
      </article>
      {% endif %}
    {% endfor %}
  </section>
</section>
<script src="assets/js/underscore.js"></script>
<script src="assets/js/main.js"></script>