---
layout: bare
---
{% for project in site.data.projects %}
  {% if project.project == page.title %}
    {% capture css_id %}{% if project.css_id %}{{ project.css_id }}{% else %}{{ project.name }}{% endif %}{% endcapture %}
    <!--
      Do the other things here. Basically, we now have two objects inside this loop:
      - the page object which has anything in a page's front matter
      - the project object, which is the project inside _data/projects.yml
        whose `project` field matches thie page's `title` field.
      - the css_id variable captured above is either project.name or project.css_id
        if the latter exists as a field.
    -->
    <section class="dashboard-project">
      <nav><a href="{{ site.baseurl }}/">&#10094;&#10094; back to main dashboard</a></nav>
      <h1>{{ page.title }} <span class="status {{ project.stage }}">{% if project.stage %}{{ project.stage }}{% else %}unknown{% endif %}</span></h1>
      <p>{{ project.description }}</p>
      <p>Contact:
        {% capture contact %}{{ project.contact }}{% endcapture %}
        {% if contact contains '@' %}
          <a href="mailto:{{project.contact}}">{{project.contact}}</a>
        {% else %}
          <a href="https://www.github.com/{{project.contact}}">{{project.contact}}</a>
        {% endif %}
      </p>
    </section>

    <section class="dashboard-info-area">

      <div>
        {% if project.impact %}
          <div class="dash-info-long">
            <h1>impact</h1>
            <p>{{ project.impact }}</p>
          </div>
        {% endif %}

        {% if project.partner %}
        <div class="dash-info-long">
          {% if project.partner.size > 1 %}
            <h1>partners</h1>
          {% else %}
            <h1>partner</h1>
          {% endif %}
          <ul>
          {% for agency in project.partner %}
            <li>{{ agency }}</li>
          {% endfor %}
        </ul>
          <p>{{ project.partners | join: ', '}}</p>
        </div>
        {% endif %}

      </div>
      <div>
        <div class="dashboard-code">
          <h1 class="dashboard-code-head">code</h1>
          {% for url in project.github %}
          {% capture repo_name %}{{ url | remove: "18F/" }}{% endcapture %}
          <div class="{{ repo_name }}">
            <h1>
              {% if project.github | first %}
              <i class="fa fa-github"></i> <a class="github-url" href="https://github.com/{{ url }}">{{ url }}</a>
              {% else %}
              <i class="icon-github2"></i> <a href="https://github.com/{{ url }}">{{ url }}</a>
              {% endif %}
            </h1>
            <ul>
              <li class="issues"><i class="fa fa-exclamation-circle"></i> Issues: </li>
              <li class="stars"><i class="fa fa-star"></i> Stars: </li>
              <li class="forks"><i class="fa fa-code-fork"></i> Forks: </li>
              {% for license in project.licenses %}{% if license[0] == repo_name %}
              {% capture branch %}{% if project.licenseBranch %}{{ project.licenseBranch | map: repo_name }}{% else %}master{%endif%}{% endcapture %}
              <li><i class="fa fa-legal {{ license[0] }}"></i> License: <a href="https://github.com/{{ url }}/blob/{{ branch }}/LICENSE.md">{{ license[1] }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>

        {% if project.milestones %}
        <div class="dash-info-long">
          <h1>milestones</h1>
          {% for item in project.milestones %}
          <p>{{ item }}</p>
          {% endfor %}
        </div>
        {% endif %}
        
      </div>
    </section>
  {% endif %}
{% endfor %}
<script src="{{site.baseurl}}/assets/js/underscore.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>
