<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">

<section class="container bare">

  <div class="bare-logo" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <a href="/">
      <i class="icon-18f-logo"></i>
    </a>
  </div>

  <div class="bare-content" role="main" itemscope itemprop="mainContentOfPage">
    <h1>{{ page.title }}</h1>
    {% for project in site.data.projects %}
      {% if project.project == page.title %}
        {% capture css_id %}{% if project.css_id %}{{ project.css_id }}{% else %}{{ project.name }}{% endif %}{% endcapture %}
        <!-- 
          Do the other things here. Basically, we now have to objects inside this loop: 
          - the page object which has anything in a page's front matter
          - the project object, which is the project inside _data/projects.yml
            whose `project` field matches thie page's `title` field.
          - the css_id variable captured above is either project.name or project.css_id
            if the latter exists as a field.
        -->
        <div class="dashboard-project-content" id="{{ css_id}}">
          <p>GitHub URL: {{ project.github }}</p>
        
          <p class="status">{{ project.status }}</p>
          <p class="issues">Issues: </p>
          <p class="stars">Stars: </p>
          <p class="forks">Forks: </p>
        </div>
      {% endif %}
    {% endfor %}

  </div>

</section>

  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>
